/*
 
_colors_

red:    #fa5858
orange: #fa8258
yellow: #f3f781
green:  #fff
blue:   #58d3f7
purple: #ac58fa

*/
body {
        background: #555;
}

a {
        color: #bbb;
}

a:visited {
        color: #bbb;
}

#container {
        height: 100%;        
	width: 100%;
}

#head {
	padding-left: 18%;
	color: #fff;
}

#footer {
	/*position: absolute;
	 */
	bottom: 0;
	padding-left: 18%;
	padding-bottom: 1%;
	color: #bbb;
	clear: both;
}

.options {
	float: left;
	color: #555555;
	text-align: right;
	padding-right: 20px;
        width: 15%;
	/*
        height: 300px;
	position: fixed;
        background-color: #555555;
	*/
	border-right: 2px solid grey;
}

.options a {
        color: #fff;
        text-decoration: none;
}

.content {
	/*
	position: absolute; 
	padding-left: 100px;
	padding-right:100px;
	margin-left: 82px;
        height: 700px;        
	height: 80%;
        width: 700px;
        clear: both;
        background-color: #555555;
	*/
	float: left;
        text-align: left;
	padding-left: 20px;
	width: 75%;
	color: #fff;
}

