[Unit]
Description=website daemon

[Service]
Type=exec
Environment="HOME="
WorkingDirectory=/srv/http/website
ExecStart=/srv/http/website/julianrutledge.com 80

[Install]
WantedBy=multi-user.target
After=network.target
