[Unit]
Description=website daemon

[Service]
Type=exec
Environment="HOME="
WorkingDirectory=/srv/http/website
ExecStart=/srv/http/website/julianrutledge.com 443 --ssl --ssl-key-file /srv/http/website/public/key.pem --ssl-cert-file /srv/http/website/public/cert.pem

[Install]
WantedBy=multi-user.target
After=network.target
