<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/css/stylesheet.css"/>
		<title>www.julianrutledge.com</title>
	</head>
	<body>
	<div id="head">
		<h1>Julian Rutledge</h1>
	</div>
	<div id="container">
	<div class="options">
		<ul>
			<li>
				<a href="/">home</a>
			</li>
			<br>
			<li>
				<a href="/about">about</a>
			</li>
			<br>
			<li>
				<a href="/news">news</a>
			</li>
			<br>
			<li>
				<a href="/code">code</a>
			</li>
			<br>
			<li>
				<a href="/music">music</a>
			</li>
			<br>
			<li>
				<a href="/contact">contact</a>
			</li>
		</ul>
	</div>
		<%= content %>
	</body>
	</div> <!container div>
	<div id="footer">
		Copyright 2013 - <%= year %>
	</div>
</html>
