<div class="content">
	<p>Here are some of my music projects:
        <ul>
                <li><a href="https://waterbrother.bandcamp.com/">Solo Bandcamp page</a></li>
                <li><a href="https://frozensmoke.bandcamp.com/">Frozen Smoke HipHop (Bandcamp page)</a></li>
                <li><a href="http://www.facebook.com/frozensmokehiphop">Frozen Smoke HipHop (Facebook)</a></li>
        </ul>
</div>
